{% spaceless %}

	{% if 1 == 2 %}
		{{ pa(item) }}
		{{ pa(get.option) }}
		{{ pa(item.cat_id) }}
	{% endif %}

	<div class="col-xs-12 col-sm-6 col-md-4 {% if nav_cat_down.in is defined and nav_cat_down.in|length > 0 %}col-xl-4 col-lg-3{% else %}col-xl-3 col-lg-2{% endif %} xproduct-list-item" style="margin-bottom: 3vh; margin-top: 3vh;">

		<div class="product-item-img">

			{% if item.a_arrayimage is not empty %}
				{% set img1 = search_img(item.a_arrayimage) %}
			{% else %}
				{% set img1 = false %}
			{% endif %}

			<a href="/show/i/{{ item.id }}/{{ f__translit(item.head,'uri2') }}/">
				<img {# src="{% if img1 != false %}{{ img1 }}{% else %}{{ sd }}photo_no.jpg{% endif %}" #} src="{% if img1 != false %}/di-img/min/200/{{ img1 }}{% else %}{{ sd }}photo_no.jpg{% endif %}" alt="{{ item.head|e }}" class="img-responsive"/>
			</a>

		</div>

		<div class="product-item-info">

			<div class="item_name_vitrin_resize">
				<h3 class="item_name_vitrin">
					<a {#href="#" #} href="/show/i/{{ item.id }}/{{ f__translit(item.head,'uri2') }}/" {#onclick="return false;" #} title="{{ item.head|e }}" class="black">{{ item.head|replace({'\\"':'"'}) }}
						<font class="manufacturer">{{ item.manufacturer ?? '' }}</font>
					</a>
				</h3>
			</div>

			<div class="prod-price">
				<span class="price color-gray">
					{% if item.a_price is defined and item.a_price is not empty and item.a_price != 0 %}
						{{ item.a_price|number_format(0,'.','`') }}
						₽
					{% else %}
						под заказ
					{% endif %}
				</span>
			</div>

			<div class="button-ver2">

				<center>
					<button class="addcart-ver2 shop__add_to_cart xaddToCart xbtn xbtn-default " 
					style="width: auto; 
					{# xdisplay: inline-block;  #}
					margin:0 auto;" 
					{# xtype="button" xdata-toggle="tooltip" #} {# xtitle="" #} {# xonclick="cart.add('42', '1');" #} 
					{# xonclick="refreshCart('42', '1');" #} {# xdata-original-title="Add to Cart"#} 
					action="add_item_to_cart" 
					
					{% for k3,v3 in item %} 
						{% if k3 == 'head' %} 
							{{ 'aj_'~k3 }}="{{ v3 }} {{ item1.manufacturer ?? '' }}" 
						{% else %} 
							{{ 'aj_'~k3 }}="{{ v3 }}" 
						{% endif %} 
					{% endfor %} 
					{#aj_name ="{{ item.head }}"#} {#aj_price ="{{ item.a_price }}"#} 
					aj_kolvo="1" 
					{#aj_img ="{% if item.a_arrayimage is not empty %}{{ item.a_arrayimage }}{% endif %}"#} 
					id="{{ item.head ~ item.a_price ~'1' }}" s="{{ creatSecret( item.head ~ item.a_price ~'1' ) }}" 
					hide_this_on_click="da" 
					show_id_defore_click="but_ok_{{ item.id }}" 
					>
						<span class="">
							Добавить в&nbsp;корзину
						</span>
					</button>

					<a href="/show/cart/" class="addcart-ver2 ok btn btn-success" id="but_ok_{{ item.id }}" style="margin-top:0;display:none;">
						В&nbsp;корзине
					</a>

				</center>

			</div>

		</div>
	</div>

{% endspaceless %}
