{% spaceless %}


    {#    <tr class="cart_item">
            <td colspan="5" >
    
                {{ pa(item) }}
                {{ pa(items_in_cart[item.id]) }}
    
            </td>
        </tr>
    #}    
    <tr class="cart_item" item_id="{{ item.id }}" >

        <td class="product-thumbnail hidden-xs">
            {% if item.a_arrayimage is not empty %}
            {% set img1 = search_img(item.a_arrayimage) %}
            {% else %}
            {% set img1 = false %}
            {% endif %}
            {#{{ img1 }}#}
            <a href="/show/i/{{ item.id }}/{{ f__translit(item.head,'uri2') }}/" >
            <img src="{% if img1 != false %}{{ img1 }}{% else %}{{ sd }}photo_no.jpg{% endif %}" alt="images" class="img-responsive">
            </a>
        </td>
        <td class="product-name">

            <a href="/show/i/{{ item.id }}/{{ f__translit(item.head,'uri2') }}/" >
            {{ item.head }}
            </a>

            {#{{ pa(item) }}#}
            
            <input type="hidden" 
                   name="items[{{ item.id }}]"
                   value="{{ item.head }}" 
                   />

            <input type="hidden" 
                   name="opis[{{ item.id }}]"
                   value="{{ item.opis ?? '' }}" 
                   />

        </td>
        <td class="product-price">

            
            <p class="price" id="price{{ item.id}}" price="{{ item.a_price }}" >{% if item.a_price > 0 %}{{ item.a_price|number_format(2,',','`') }}{% else %}заказная<br/>позиция*{% endif %}</p>
            <input 
                type="hidden" 
                name="price[{{ item.id }}]"
                value="{% if item.a_price > 0 %}{{ item.a_price }}{% else %}0{% endif %}" 
                />
            
            

        </td>
        <td class="product-quantity" >
            {#
            <div class="quantity">
                <input type="text" name="quantity" value="1">
            </div>
            #}
    <center>
            {#<div style="width:200px;">#}

            <nobr>
                <button type="button" 
                        style="display:inline-block;xfloat:left; paddin: 8px; border-radius: 3px;"

                        xdata-toggle="tooltip" 
                        xtitle="" 

                        class="btn btn-xs btn-danger shop__change_kolvo"
                        action="shop__item_remove"
                        item_id="{{ item.id }}"
                        s="{{ creatSecret(item.id) }}"

                        xdata-original-title="Отнять 1"
                        ><i class="fa fa-minus"></i></button>

                <input type="text" 
                       readonly=""
                       style="display:inline-block; width:40px; xfloat:left; text-align: center;"

                       id="quantity{{ item.id }}"

                       min="0" max="999" step="1" 
                       name="quantity[{{ item.id }}]"
                       value="{% if item.kolvo is not empty and item.kolvo >= 0 %}{{ item.kolvo }}{% else %}0{% endif %}" 
                       size="1" 
                       class="form-control kolvo-items"
                       >

                <button 
                    type="button" 
                    xdata-toggle="tooltip" 
                    xtitle="" 
                    xonclick="" 
                    xdata-original-title="Добавить 1"

                    style="display:inline-block;xfloat:left;"

                    class="btn btn-xs btn-success shop__change_kolvo" 
                    action="shop__item_add"
                    item_id="{{ item.id }}"
                    s="{{ creatSecret(item.id) }}"

                    ><i class="fa fa-plus"></i></button>
                    {#
                    <button type="submit" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Update"><i class="fa fa-clone"></i></button>
                    #}
</nobr>
            {#</div>#}
    </center>
        </td>
        <td class="product-price xproduct-subtotal hidden-xs">
            <p id="summa{{ item.id }}" >
                {% if item.a_price > 0 %}
                    {% if item.kolvo > 0 %}
                    {{ item.a_price }}
                    {% else %}
                        -
                    {% endif %}
                {% else %}-{% endif %}
                {#{{ items_in_cart[item.id]['a_price'] ? ( items_in_cart[item.id]['a_price'] * item.kolvo )|number_format(2,',','`') : 'обозначим при заказе' }}#}
            </p>
        </td>
        <td class="product-price xproduct-subtotal">
            <a href="/index.php?delete_from_cart={{ item.id }}" class="cart_item_delete" title="убрать позицию из заказа" onclick="return confirm('убрать позицию из заказа ?'); " ><span class="fa fa-remove"></span></a>
        </td>
    </tr>




    {% if 1 == 2 %}    
        <tr id="item_tr_{{ item.id }}" class="cart_item" item_id="{{ item.id }}" >

            {#
            <td class="text-center"><a href="product.html"><img src="img/demo/shop/product/E3.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" width="70px"></a></td>
            #}

            <td class="text-left">

                <a href="#"
                   class="a_gray_hover_red deleteItemFromCart"
                   style="float:right;"
                   title="Удалить позицию"

                   item_id="{{ item.id }}"
                   s="{{ creatSecret(item.id) }}"

                   ><i class="fa fa-times-circle"></i></a>

                <a href="/{{ get.level }}/{{ item.id }}/">{{ item.name }}</a>

                <input type="hidden" 
                       name="items[{{ item.id }}]"
                       value="{{ item.name }}" 
                       />

            </td>
            {#
            <td class="text-left">Pt 001</td>
            #}
            <td class="text-left" width="200px"><div class="input-group btn-block quantity">

                    <span class="input-group-btn">
                        <button type="button" 

                                xdata-toggle="tooltip" 
                                xtitle="" 

                                class="btn btn-danger shop__change_kolvo"
                                action="shop__item_remove"
                                item_id="{{ item.id }}"
                                s="{{ creatSecret(item.id) }}"

                                xdata-original-title="Отнять 1"
                                ><i class="fa fa-minus"></i></button>
                    </span>

                    <input type="number" 
                           id="quantity{{ item.id }}"
                           min="0" max="999" step="1" 
                           name="quantity[{{ item.id }}]"
                           value="{{ item.kolvo }}" 
                           size="1" 
                           class="form-control"
                           >

                    <span class="input-group-btn">
                        <button 
                            type="button" 
                            xdata-toggle="tooltip" 
                            xtitle="" 
                            xonclick="" 
                            xdata-original-title="Добавить 1"

                            class="btn btn-success shop__change_kolvo" 
                            action="shop__item_add"
                            item_id="{{ item.id }}"
                            s="{{ creatSecret(item.id) }}"

                            ><i class="fa fa-plus"></i></button>
                            {#
                            <button type="submit" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Update"><i class="fa fa-clone"></i></button>
                            #}

                    </span>
                </div>
            </td>
            <td class="text-right">
                {% if item.price == '' %}
                    Позвоним дополнительно уточнить цену
                {% else %}
                    {{ item.price|number_format(0,'.','`') }}
                {% endif %}
                <input type="hidden" 
                       id="price{{ item.id }}" 
                       name="price[{{ item.id }}]"
                       value="{{ item.price }}" 
                       />
            </td>
            <td class="text-right">
                {% if item.price == '' %}
                {% else %}
                    <span id="summa_id_show_{{ item.id }}" >{{ (item.price*item.kolvo)|number_format(0,'.','`') }}</span>
                    <input type="hidden" id="summa_id_{{ item.id }}" value="{{ (item.price*item.kolvo) }}" />
                    {% set summa = summa + (item.price*item.kolvo) %}
                {% endif %}
            </td>

        </tr>
    {% endif %}
{% endspaceless %}