{% spaceless %}

    {#{{ pa(session) }}#}
    
    {% set erer = shop__get_carts() %}
    {#{{ pa(erer) }}#}
    
    {% set summa = 0 %}

    <div class="container checkout-cart-form">

        {% if get.warn_order is defined %}

            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <h3 class="bg-warning" style="padding: 10px 20px;">{{ get.warn_order }}</h3>
                </div>
            </div>
        {% else %}


            <form action="" method="post" >

                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <table class="table table- xshop_table">
                            <thead>
                                <tr style="position:sticky; top:0; background-color:white; border-bottom: 1px solid gray;" >
                                    <th class="product-thumbnail hidden-xs">&nbsp;</th>
                                    <th class="product-name text-center">Товар</th>
                                    <th class="product-price text-center">Цена</th>
                                    <th class="quantity text-center">Кол-во</th>
                                    <th class="product-subtotal text-center hidden-xs">Сумма</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                {%  for k,item in session.cart %}

                                    {#{{ pa(item) }}#}

                                    {% include constant('dir_mods_mod_vers_tpl')~'body.cart.item.htm' %}
                                    {% set summa = summa + ( ( items_in_cart[item.id]['a_price'] ? items_in_cart[item.id]['a_price'] :  0 ) * item.kolvo ) %}
                                    {#                            {% if item.price is defined and item.price > 0 and item.kolvo is defined and item.kolvo > 0 %}
                                                                    {% set summa = summa + ( item.price * item.kolvo ) %}
                                                                {% endif %}
                                    #}
                                {% endfor %}

                                {% if 1 == 2 %}
                                    <tr class="cart_item">
                                        <td class="product-thumbnail"><a href="#"><img src="img/checkout/product-2.jpg" alt="images" class="img-responsive"></a></td>
                                        <td class="product-name">
                                            <a href="#">Canon EOS 6D 20.2 MP CMOS Digital SLR Camera</a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$99.00</p>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="text" name="qtt" value="1">
                                            </div>
                                        </td>
                                        <td class="product-price product-subtotal">
                                            <p class="price">$99.00</p>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail"><a href="#"><img src="img/checkout/product-3.jpg" alt="images" class="img-responsive"></a></td>
                                        <td class="product-name">
                                            <a href="#">Canon EOS 6D 20.2 MP CMOS Digital SLR Camera</a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$140.00</p>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="text" name="qtt" value="1">
                                            </div>
                                        </td>
                                        <td class="product-price product-subtotal">
                                            <p class="price">$140.00</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {#                            <br/>
                                                    <br/>
                                                    <center><a href="/show/" class="btn btn-default xbtn-continue-shopping"><span style="color:green;" class="fa fa-plus" ></span> Добавить товары</a></center>
                        #}                            
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="aside-shopping-cart-total">
                            <h2>Заказ</h2>
                            <ul>
                                <li><span class="text">Итого: <span class="xcart-number" id="summa_all_show" >{{ summa|number_format(2,',','`') }}₽</span></span></li>

                                {#                        <li><span class="text">Shipping:</span>
                                                            <div class="shipping">
                                                                <form method="get" action="/search" role="search">
                                                                    <input type="radio" name="gender" value="Flat" id="radio1" checked="checked">
                                                                    <label for="radio1">FLAT RATE: $12.00</label>
                                                                    <input type="radio" name="gender" value="Free" id="radio2">
                                                                    <label for="radio2">Free Shipping</label>
                                                                    <input type="radio" name="gender" value="Delivery" id="radio3">
                                                                    <label for="radio3">FLAT RATE: $60.00</label>
                                                                    <input type="radio" name="gender" value="Local-Delivery" id="radio4">
                                                                    <label for="radio4">LOCAL DELIVERY: $5.00</label>
                                                                </form>
                                                            </div>
                                                        </li>
                                                        <li><span class="text calculate">Calculate shipping</span>
                                                        </li>
                                                        <li><span class="text">Total:</span><span class="cart-number big-total-number">$1,750.00</span></li>
                                #}

                                <li>
                                    <br/>
                                    <br/>
                                    <span class="text xcalculate">Контактные данные</span></li>
                                <li><label>Как Вас зовут: 
                                        <br/><input type="text" class="form-contol" 
                                                    style='max-width: 100%;'
                                                    name="io"
                                                    required=""
                                                    /></label></li>
                                <li><label>Телефон: 
                                        <br/><input type="text" class="form-contol" 
                                                    style='max-width: 100%;'
                                                    name="phone"
                                                    required=""
                                                    /></label></li>

                            </ul>
                            <div class="process">
                                <button type="submit" class="btn-checkout">Отправить заказ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="shopping-cart-option">

                {#<div class="button-option">#}
                {# <a href="/show/" class="btn-continue-shopping active">Добавить ещё товары</a>#}
                {#<a href="#" class="btn-clear">Очистить корзину</a>#}
                {#</div>#}

                {% if 1 == 2 %}
                    <div class="shopping-cart-coupon">
                        <div class="row">
                            <div class="col-md-5 col-sm-12">
                                <form action="#" method="POST" class="coupon-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Coupon Code">
                                        <span class="icon-coupon"></span>
                                    </div>
                                    <button type="submit" class="btn-submit"></button>
                                </form>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <a href="#" class="btn-update-cart">UPDATE CART</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </div>

    {#<script>
        $(document).ready(function () { // вся мaгия пoслe зaгрузки стрaницы
            refreshCartTable();
        });
    </script>#}

{% endspaceless %}